.wp-block-buttons {
	align-items: center;
	display: flex;

	&.alignleft {
		justify-content: flex-start;
	}

	&.alignright {
		justify-content: flex-end;
	}
}

a, .btn, button, .fa, .fab, .far, .nav-item {
	transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
}

.btn, a, button, .wp-block-button__link {
	&:not(.btn-link) {
		text-transform: uppercase;
	}
}

.wp-block-button__link {
	color: $body-color;
	display: inline-block;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	text-align: center;
	text-decoration: if($link-decoration == none, null, none);
	white-space: $btn-white-space;
	vertical-align: middle;
	user-select: none;
	// border: $btn-border-width solid transparent;
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
	@include transition($btn-transition);

	@include hover() {
		color: $body-color;
		text-decoration: none;
	}

	&:focus, &.focus {
		outline: 0;
		box-shadow: $btn-focus-box-shadow;
	}

	// Disabled comes first so active can properly restyle
	&.disabled, &:disabled {
		opacity: $btn-disabled-opacity;
		@include box-shadow(none);
	}

	&:not(:disabled):not(.disabled) {
		cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

		&:active, &.active {
			@include box-shadow($btn-active-box-shadow);

			&:focus {
				@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
			}
		}
	}

	&.has-primary-background-color {
		color: $white;

		&:hover {
			background: $secondary;
			color: $white;
		}
	}

	.is-style-outline & {
		&.has-white-color:hover {
			border-color: $black;
		}

		&.has-primary-color:hover {
			border-color: $black;
		}
	}
}
