.nf-form-content input.ninja-forms-field[type=button], .nf-field-element a.btn, .tab-content .btn:not(.edit):not(.delete) {
	border-radius: $btn-border-radius;
	height: auto !important;
	font-family: $headings-font-family;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	line-height: $btn-font-size;
	margin: 0;
	padding-top: 1.15rem;
	padding-bottom: 1.15rem;
	text-transform: uppercase;
}
