.wp-block-cover {
	&:not([class*="text-color"]) [class*="inner-container"] {
		color: $body-color;
	}

	&.text-center [class*="inner-container"] {
		text-align: center;
	}

	&.has-background-dim:not([class*="text-"]):not(.has-white-background-color) [class*="inner-container"] {
		color: $white;
	}

	&.jg {
		min-height: initial;

		.wp-block-cover__inner-container {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	&.has-background-dim:not(.has-background-gradient):before, .wp-block-cover__gradient-background {
		opacity: 1;
	}

	&.has-background-dim:not([class*="background-color"]) {
		background-color: transparent;
	}

	.wp-block-cover__inner-container > :last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	&[class*="text-color"] .wp-block-cover__inner-container {
		color: inherit;
	}
}

.alignleft {
	text-align: left;
	margin-top: 0;
}

.aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.alignright {
	margin-top: 0;
	margin-bottom: var(--global--spacing-vertical);
}

.alignwide {
	padding-left: 5vw;
	padding-right: 5vw;
	margin-left: calc(-96vw / 2 + 100% / 2);
	width: 96vw;
}

.alignfull {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	width: 100vw;
}

.alignfull, [data-align="full"], .alignwide, [data-align="wide"] {
	clear: both;

	[class*="inner-container"] {
		@include make-container();
		@include make-container-max-widths();

		padding: 0;
	}

	> img {
		width: 100%;
	}
}

// Content alignment
.has-left-content {
	justify-content: flex-start;
}

.has-right-content {
	justify-content: flex-end;
}

.has-parallax {
	background-attachment: fixed;
}

.desktop-only {
	display: none;

	@include media-breakpoint-down(md) {
		display: block;
	}
}

@each $color, $value in $theme-colors {
	.has-#{$color}-background-color {
		background: $value;
	}

	.has-#{$color}-text-color {
		color: $value;
	}
}

.wp-block-columns {
	align-items: center;

	.wp-block-column {
		> :last-child {
			margin-bottom: 0;
		}
	}
}
