header#masthead {
	.navbar.navbar-expand-lg {
		flex-flow: column;
	}

	.navbar-nav {
		@include media-breakpoint-up(lg) {
			align-items: center;
			flex-direction: row;
		}
	}

	.section {
		width: 100%;
	}

	.container {
		align-items: center;
		display: flex;
		justify-content: space-between;

		@include media-breakpoint-down(lg) {
			padding-left: calc($grid-gutter-width / 2);
			padding-right: calc($grid-gutter-width / 2);
		}
	}

	.brand {
		justify-content: center;

		.navbar-brand {
			margin: 1rem 0;
			width: calc(75vw - #{$grid-gutter-width} / 2);

			@include media-breakpoint-up(lg) {
				max-width: 40vw;
			}

			img {
				max-width: 100%;
			}
		}
	}

	.navbar-toggler {
		border: none;
	}

	.nav-item {
		font-family: $headings-font-family;
	}

	.navbar-collapse {
		background: $black;
		padding: 1.5rem 0;

		.container {
			> img {
				max-width: 200px;
			}

			.btn-group {
				flex-wrap: wrap;

				.btn-link {
					text-decoration: none;

					&, .nav-link {
						padding-right: 0;
					}

					&.dropdown-toggle {
						color: $navbar-light-color;
						padding-left: 0;

						.active {
							color: $navbar-light-active-color;
						}
					}
				}
			}

			.nav-item {
				font-size: $btn-font-size;
				padding: 0 1rem;

				&:hover:not(.btn) .nav-link, &:hover .dropdown-toggle {
					color: $navbar-light-hover-color;
				}

				&:hover {
					.dropdown-menu {
						display: block;
					}
				}

				&.btn {
					padding: 0;

					.nav-link {
						color: $white !important;
					}
				}
			}

			.dropdown-menu {
				background: $black;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				margin-top: -2px;
			}

			@include media-breakpoint-up(lg) {
				.navbar-nav {
					margin-left: auto;
				}

				.nav-item > .nav-link {
					padding-left: $btn-padding-x;
				}

				.dropdown-menu {
					.nav-item {
						padding-right: $navbar-nav-link-padding-x;
						padding-left: $navbar-nav-link-padding-x;

						&:hover {
							background-color: $tertiary;

							a.nav-link {
								color: $black;
							}
						}
					}
				}
			}

			@include media-breakpoint-down(md) {
				align-items: flex-start;
				justify-content: flex-start;

				> img {
					margin: 1rem auto;
					order: 2;
				}

				.btn-link {
					padding: 0;
				}

				.navbar-nav {
					width: 100%;
				}

				.nav-item {
					width: 100%;

					&:not(:last-child) {
						border-bottom: 1px solid $white;
					}
				}

				.btn-group {
					button {
						flex: unset;
					}

					&:not(.show) .btn-link.dropdown-toggle {
						padding-right: 6px;
						transform: rotate(-90deg);
					}
				}

				.dropdown-menu {
					background: none;
					flex: 0 0 100%;
					max-width: 100%;
					margin-top: -12px;
					padding-top: 0;
					padding-left: 1rem;
					padding-bottom: 1.2rem;
				}
			}
		}
	}

	.register {
		background: $primary;
		color: $white;

		.container {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}

		ul {
			list-style: none;
			margin-bottom: 0;
		}

		.social-media {
			display: flex;
			padding: 0;

			li {
				&:not(:first-child) {
					padding-left: 0.25rem;
				}

				.nav-link {
					padding: 0;
				}
			}

			.fa, .fab {
				color: $white;
			}
		}

		#menu-top-bar {
			display: flex;
			.nav-link {
				border: 1px solid $white;
				color: $white;
				margin-left: 0.5rem;
				padding: $btn-padding-y $btn-padding-x;
			}

			li {
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}
