.toplevel_page_jg-theme div.dashicons-before, .menu-icon-career div.dashicons-before {
	align-items: center;
	display: flex;
	justify-content: center;

	&::before {
		display: none;
	}

	svg {
		height: 30px;
	}
}
