.toplevel_page_jg-theme div.dashicons-before, .menu-icon-career div.dashicons-before {
  align-items: center;
  display: flex;
  justify-content: center;
}
.toplevel_page_jg-theme div.dashicons-before::before, .menu-icon-career div.dashicons-before::before {
  display: none;
}
.toplevel_page_jg-theme div.dashicons-before svg, .menu-icon-career div.dashicons-before svg {
  height: 30px;
}

html, body {
  height: auto;
  height: initial;
  min-height: 100%;
}

.login {
  background-image: url("../images/sign-in-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}
.login h1 {
  background-color: transparent;
  background-image: none;
  border-radius: 3px;
  content: "";
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login h1 a {
  display: none;
}
.login h1::before, .login h1::after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}
.login h1::before {
  background-image: url("../images/wellnation.png");
  height: 5rem;
  width: 100%;
}
.login h1::after {
  background-image: url("../images/VirtualGames-logo-date-wht.png");
  height: 8rem;
  width: 100%;
}
.login #backtoblog a, .login #nav a {
  color: #fff;
}
