.edit-post-visual-editor .wp-block-cover {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.edit-post-visual-editor .container,
.edit-post-visual-editor .container-fluid,
.edit-post-visual-editor .container-xl,
.edit-post-visual-editor .container-lg,
.edit-post-visual-editor .container-md,
.edit-post-visual-editor .container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .edit-post-visual-editor .container-sm, .edit-post-visual-editor .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .edit-post-visual-editor .container-md, .edit-post-visual-editor .container-sm, .edit-post-visual-editor .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .edit-post-visual-editor .container-lg, .edit-post-visual-editor .container-md, .edit-post-visual-editor .container-sm, .edit-post-visual-editor .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .edit-post-visual-editor .container-xl, .edit-post-visual-editor .container-lg, .edit-post-visual-editor .container-md, .edit-post-visual-editor .container-sm, .edit-post-visual-editor .container {
    max-width: 1140px;
  }
}
.edit-post-visual-editor .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.edit-post-visual-editor .no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.edit-post-visual-editor .no-gutters > .col,
.edit-post-visual-editor .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
.edit-post-visual-editor .col-xl,
.edit-post-visual-editor .col-xl-auto, .edit-post-visual-editor .col-xl-12, .edit-post-visual-editor .col-xl-11, .edit-post-visual-editor .col-xl-10, .edit-post-visual-editor .col-xl-9, .edit-post-visual-editor .col-xl-8, .edit-post-visual-editor .col-xl-7, .edit-post-visual-editor .col-xl-6, .edit-post-visual-editor .col-xl-5, .edit-post-visual-editor .col-xl-4, .edit-post-visual-editor .col-xl-3, .edit-post-visual-editor .col-xl-2, .edit-post-visual-editor .col-xl-1, .edit-post-visual-editor .col-lg,
.edit-post-visual-editor .col-lg-auto, .edit-post-visual-editor .col-lg-12, .edit-post-visual-editor .col-lg-11, .edit-post-visual-editor .col-lg-10, .edit-post-visual-editor .col-lg-9, .edit-post-visual-editor .col-lg-8, .edit-post-visual-editor .col-lg-7, .edit-post-visual-editor .col-lg-6, .edit-post-visual-editor .col-lg-5, .edit-post-visual-editor .col-lg-4, .edit-post-visual-editor .col-lg-3, .edit-post-visual-editor .col-lg-2, .edit-post-visual-editor .col-lg-1, .edit-post-visual-editor .col-md,
.edit-post-visual-editor .col-md-auto, .edit-post-visual-editor .col-md-12, .edit-post-visual-editor .col-md-11, .edit-post-visual-editor .col-md-10, .edit-post-visual-editor .col-md-9, .edit-post-visual-editor .col-md-8, .edit-post-visual-editor .col-md-7, .edit-post-visual-editor .col-md-6, .edit-post-visual-editor .col-md-5, .edit-post-visual-editor .col-md-4, .edit-post-visual-editor .col-md-3, .edit-post-visual-editor .col-md-2, .edit-post-visual-editor .col-md-1, .edit-post-visual-editor .col-sm,
.edit-post-visual-editor .col-sm-auto, .edit-post-visual-editor .col-sm-12, .edit-post-visual-editor .col-sm-11, .edit-post-visual-editor .col-sm-10, .edit-post-visual-editor .col-sm-9, .edit-post-visual-editor .col-sm-8, .edit-post-visual-editor .col-sm-7, .edit-post-visual-editor .col-sm-6, .edit-post-visual-editor .col-sm-5, .edit-post-visual-editor .col-sm-4, .edit-post-visual-editor .col-sm-3, .edit-post-visual-editor .col-sm-2, .edit-post-visual-editor .col-sm-1, .edit-post-visual-editor .col,
.edit-post-visual-editor .col-auto, .edit-post-visual-editor .col-12, .edit-post-visual-editor .col-11, .edit-post-visual-editor .col-10, .edit-post-visual-editor .col-9, .edit-post-visual-editor .col-8, .edit-post-visual-editor .col-7, .edit-post-visual-editor .col-6, .edit-post-visual-editor .col-5, .edit-post-visual-editor .col-4, .edit-post-visual-editor .col-3, .edit-post-visual-editor .col-2, .edit-post-visual-editor .col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.edit-post-visual-editor .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.edit-post-visual-editor .row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}
.edit-post-visual-editor .row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}
.edit-post-visual-editor .row-cols-3 > * {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.edit-post-visual-editor .row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}
.edit-post-visual-editor .row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}
.edit-post-visual-editor .row-cols-6 > * {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.edit-post-visual-editor .col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.edit-post-visual-editor .col-1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
.edit-post-visual-editor .col-2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.edit-post-visual-editor .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.edit-post-visual-editor .col-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.edit-post-visual-editor .col-5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
.edit-post-visual-editor .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.edit-post-visual-editor .col-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.edit-post-visual-editor .col-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.edit-post-visual-editor .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.edit-post-visual-editor .col-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.edit-post-visual-editor .col-11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
.edit-post-visual-editor .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.edit-post-visual-editor .order-first {
  order: -1;
}
.edit-post-visual-editor .order-last {
  order: 13;
}
.edit-post-visual-editor .order-0 {
  order: 0;
}
.edit-post-visual-editor .order-1 {
  order: 1;
}
.edit-post-visual-editor .order-2 {
  order: 2;
}
.edit-post-visual-editor .order-3 {
  order: 3;
}
.edit-post-visual-editor .order-4 {
  order: 4;
}
.edit-post-visual-editor .order-5 {
  order: 5;
}
.edit-post-visual-editor .order-6 {
  order: 6;
}
.edit-post-visual-editor .order-7 {
  order: 7;
}
.edit-post-visual-editor .order-8 {
  order: 8;
}
.edit-post-visual-editor .order-9 {
  order: 9;
}
.edit-post-visual-editor .order-10 {
  order: 10;
}
.edit-post-visual-editor .order-11 {
  order: 11;
}
.edit-post-visual-editor .order-12 {
  order: 12;
}
.edit-post-visual-editor .offset-1 {
  margin-left: 8.33333333%;
}
.edit-post-visual-editor .offset-2 {
  margin-left: 16.66666667%;
}
.edit-post-visual-editor .offset-3 {
  margin-left: 25%;
}
.edit-post-visual-editor .offset-4 {
  margin-left: 33.33333333%;
}
.edit-post-visual-editor .offset-5 {
  margin-left: 41.66666667%;
}
.edit-post-visual-editor .offset-6 {
  margin-left: 50%;
}
.edit-post-visual-editor .offset-7 {
  margin-left: 58.33333333%;
}
.edit-post-visual-editor .offset-8 {
  margin-left: 66.66666667%;
}
.edit-post-visual-editor .offset-9 {
  margin-left: 75%;
}
.edit-post-visual-editor .offset-10 {
  margin-left: 83.33333333%;
}
.edit-post-visual-editor .offset-11 {
  margin-left: 91.66666667%;
}
@media (min-width: 576px) {
  .edit-post-visual-editor .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .edit-post-visual-editor .row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edit-post-visual-editor .row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .edit-post-visual-editor .row-cols-sm-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .edit-post-visual-editor .row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .edit-post-visual-editor .row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .edit-post-visual-editor .row-cols-sm-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .edit-post-visual-editor .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .edit-post-visual-editor .col-sm-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .edit-post-visual-editor .col-sm-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .edit-post-visual-editor .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .edit-post-visual-editor .col-sm-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .edit-post-visual-editor .col-sm-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .edit-post-visual-editor .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .edit-post-visual-editor .col-sm-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .edit-post-visual-editor .col-sm-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .edit-post-visual-editor .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .edit-post-visual-editor .col-sm-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .edit-post-visual-editor .col-sm-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .edit-post-visual-editor .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edit-post-visual-editor .order-sm-first {
    order: -1;
  }
  .edit-post-visual-editor .order-sm-last {
    order: 13;
  }
  .edit-post-visual-editor .order-sm-0 {
    order: 0;
  }
  .edit-post-visual-editor .order-sm-1 {
    order: 1;
  }
  .edit-post-visual-editor .order-sm-2 {
    order: 2;
  }
  .edit-post-visual-editor .order-sm-3 {
    order: 3;
  }
  .edit-post-visual-editor .order-sm-4 {
    order: 4;
  }
  .edit-post-visual-editor .order-sm-5 {
    order: 5;
  }
  .edit-post-visual-editor .order-sm-6 {
    order: 6;
  }
  .edit-post-visual-editor .order-sm-7 {
    order: 7;
  }
  .edit-post-visual-editor .order-sm-8 {
    order: 8;
  }
  .edit-post-visual-editor .order-sm-9 {
    order: 9;
  }
  .edit-post-visual-editor .order-sm-10 {
    order: 10;
  }
  .edit-post-visual-editor .order-sm-11 {
    order: 11;
  }
  .edit-post-visual-editor .order-sm-12 {
    order: 12;
  }
  .edit-post-visual-editor .offset-sm-0 {
    margin-left: 0;
  }
  .edit-post-visual-editor .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .edit-post-visual-editor .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .edit-post-visual-editor .offset-sm-3 {
    margin-left: 25%;
  }
  .edit-post-visual-editor .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .edit-post-visual-editor .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .edit-post-visual-editor .offset-sm-6 {
    margin-left: 50%;
  }
  .edit-post-visual-editor .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .edit-post-visual-editor .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .edit-post-visual-editor .offset-sm-9 {
    margin-left: 75%;
  }
  .edit-post-visual-editor .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .edit-post-visual-editor .offset-sm-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 768px) {
  .edit-post-visual-editor .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .edit-post-visual-editor .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edit-post-visual-editor .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .edit-post-visual-editor .row-cols-md-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .edit-post-visual-editor .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .edit-post-visual-editor .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .edit-post-visual-editor .row-cols-md-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .edit-post-visual-editor .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .edit-post-visual-editor .col-md-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .edit-post-visual-editor .col-md-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .edit-post-visual-editor .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .edit-post-visual-editor .col-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .edit-post-visual-editor .col-md-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .edit-post-visual-editor .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .edit-post-visual-editor .col-md-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .edit-post-visual-editor .col-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .edit-post-visual-editor .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .edit-post-visual-editor .col-md-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .edit-post-visual-editor .col-md-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .edit-post-visual-editor .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edit-post-visual-editor .order-md-first {
    order: -1;
  }
  .edit-post-visual-editor .order-md-last {
    order: 13;
  }
  .edit-post-visual-editor .order-md-0 {
    order: 0;
  }
  .edit-post-visual-editor .order-md-1 {
    order: 1;
  }
  .edit-post-visual-editor .order-md-2 {
    order: 2;
  }
  .edit-post-visual-editor .order-md-3 {
    order: 3;
  }
  .edit-post-visual-editor .order-md-4 {
    order: 4;
  }
  .edit-post-visual-editor .order-md-5 {
    order: 5;
  }
  .edit-post-visual-editor .order-md-6 {
    order: 6;
  }
  .edit-post-visual-editor .order-md-7 {
    order: 7;
  }
  .edit-post-visual-editor .order-md-8 {
    order: 8;
  }
  .edit-post-visual-editor .order-md-9 {
    order: 9;
  }
  .edit-post-visual-editor .order-md-10 {
    order: 10;
  }
  .edit-post-visual-editor .order-md-11 {
    order: 11;
  }
  .edit-post-visual-editor .order-md-12 {
    order: 12;
  }
  .edit-post-visual-editor .offset-md-0 {
    margin-left: 0;
  }
  .edit-post-visual-editor .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .edit-post-visual-editor .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .edit-post-visual-editor .offset-md-3 {
    margin-left: 25%;
  }
  .edit-post-visual-editor .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .edit-post-visual-editor .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .edit-post-visual-editor .offset-md-6 {
    margin-left: 50%;
  }
  .edit-post-visual-editor .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .edit-post-visual-editor .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .edit-post-visual-editor .offset-md-9 {
    margin-left: 75%;
  }
  .edit-post-visual-editor .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .edit-post-visual-editor .offset-md-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 992px) {
  .edit-post-visual-editor .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .edit-post-visual-editor .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edit-post-visual-editor .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .edit-post-visual-editor .row-cols-lg-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .edit-post-visual-editor .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .edit-post-visual-editor .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .edit-post-visual-editor .row-cols-lg-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .edit-post-visual-editor .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .edit-post-visual-editor .col-lg-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .edit-post-visual-editor .col-lg-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .edit-post-visual-editor .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .edit-post-visual-editor .col-lg-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .edit-post-visual-editor .col-lg-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .edit-post-visual-editor .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .edit-post-visual-editor .col-lg-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .edit-post-visual-editor .col-lg-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .edit-post-visual-editor .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .edit-post-visual-editor .col-lg-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .edit-post-visual-editor .col-lg-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .edit-post-visual-editor .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edit-post-visual-editor .order-lg-first {
    order: -1;
  }
  .edit-post-visual-editor .order-lg-last {
    order: 13;
  }
  .edit-post-visual-editor .order-lg-0 {
    order: 0;
  }
  .edit-post-visual-editor .order-lg-1 {
    order: 1;
  }
  .edit-post-visual-editor .order-lg-2 {
    order: 2;
  }
  .edit-post-visual-editor .order-lg-3 {
    order: 3;
  }
  .edit-post-visual-editor .order-lg-4 {
    order: 4;
  }
  .edit-post-visual-editor .order-lg-5 {
    order: 5;
  }
  .edit-post-visual-editor .order-lg-6 {
    order: 6;
  }
  .edit-post-visual-editor .order-lg-7 {
    order: 7;
  }
  .edit-post-visual-editor .order-lg-8 {
    order: 8;
  }
  .edit-post-visual-editor .order-lg-9 {
    order: 9;
  }
  .edit-post-visual-editor .order-lg-10 {
    order: 10;
  }
  .edit-post-visual-editor .order-lg-11 {
    order: 11;
  }
  .edit-post-visual-editor .order-lg-12 {
    order: 12;
  }
  .edit-post-visual-editor .offset-lg-0 {
    margin-left: 0;
  }
  .edit-post-visual-editor .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .edit-post-visual-editor .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .edit-post-visual-editor .offset-lg-3 {
    margin-left: 25%;
  }
  .edit-post-visual-editor .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .edit-post-visual-editor .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .edit-post-visual-editor .offset-lg-6 {
    margin-left: 50%;
  }
  .edit-post-visual-editor .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .edit-post-visual-editor .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .edit-post-visual-editor .offset-lg-9 {
    margin-left: 75%;
  }
  .edit-post-visual-editor .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .edit-post-visual-editor .offset-lg-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 1200px) {
  .edit-post-visual-editor .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .edit-post-visual-editor .row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edit-post-visual-editor .row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .edit-post-visual-editor .row-cols-xl-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .edit-post-visual-editor .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .edit-post-visual-editor .row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .edit-post-visual-editor .row-cols-xl-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .edit-post-visual-editor .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .edit-post-visual-editor .col-xl-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .edit-post-visual-editor .col-xl-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .edit-post-visual-editor .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .edit-post-visual-editor .col-xl-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .edit-post-visual-editor .col-xl-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .edit-post-visual-editor .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .edit-post-visual-editor .col-xl-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .edit-post-visual-editor .col-xl-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .edit-post-visual-editor .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .edit-post-visual-editor .col-xl-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .edit-post-visual-editor .col-xl-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .edit-post-visual-editor .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edit-post-visual-editor .order-xl-first {
    order: -1;
  }
  .edit-post-visual-editor .order-xl-last {
    order: 13;
  }
  .edit-post-visual-editor .order-xl-0 {
    order: 0;
  }
  .edit-post-visual-editor .order-xl-1 {
    order: 1;
  }
  .edit-post-visual-editor .order-xl-2 {
    order: 2;
  }
  .edit-post-visual-editor .order-xl-3 {
    order: 3;
  }
  .edit-post-visual-editor .order-xl-4 {
    order: 4;
  }
  .edit-post-visual-editor .order-xl-5 {
    order: 5;
  }
  .edit-post-visual-editor .order-xl-6 {
    order: 6;
  }
  .edit-post-visual-editor .order-xl-7 {
    order: 7;
  }
  .edit-post-visual-editor .order-xl-8 {
    order: 8;
  }
  .edit-post-visual-editor .order-xl-9 {
    order: 9;
  }
  .edit-post-visual-editor .order-xl-10 {
    order: 10;
  }
  .edit-post-visual-editor .order-xl-11 {
    order: 11;
  }
  .edit-post-visual-editor .order-xl-12 {
    order: 12;
  }
  .edit-post-visual-editor .offset-xl-0 {
    margin-left: 0;
  }
  .edit-post-visual-editor .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .edit-post-visual-editor .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .edit-post-visual-editor .offset-xl-3 {
    margin-left: 25%;
  }
  .edit-post-visual-editor .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .edit-post-visual-editor .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .edit-post-visual-editor .offset-xl-6 {
    margin-left: 50%;
  }
  .edit-post-visual-editor .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .edit-post-visual-editor .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .edit-post-visual-editor .offset-xl-9 {
    margin-left: 75%;
  }
  .edit-post-visual-editor .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .edit-post-visual-editor .offset-xl-11 {
    margin-left: 91.66666667%;
  }
}
.edit-post-visual-editor .wp-block-buttons {
  align-items: center;
  display: flex;
}
.edit-post-visual-editor .wp-block-buttons.alignleft {
  justify-content: flex-start;
}
.edit-post-visual-editor .wp-block-buttons.alignright {
  justify-content: flex-end;
}
.edit-post-visual-editor a, .edit-post-visual-editor .btn, .edit-post-visual-editor button, .edit-post-visual-editor .fa, .edit-post-visual-editor .fab, .edit-post-visual-editor .far, .edit-post-visual-editor .nav-item {
  transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
}
.edit-post-visual-editor .btn:not(.btn-link), .edit-post-visual-editor a:not(.btn-link), .edit-post-visual-editor button:not(.btn-link), .edit-post-visual-editor .wp-block-button__link:not(.btn-link) {
  text-transform: uppercase;
}
.edit-post-visual-editor .wp-block-button__link {
  color: #000;
  display: inline-block;
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.2rem 0.75rem;
  font-size: 0.8125rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .edit-post-visual-editor .wp-block-button__link {
    transition: none;
  }
}
.edit-post-visual-editor .wp-block-button__link:hover {
  color: #000;
  text-decoration: none;
}
.edit-post-visual-editor .wp-block-button__link:focus, .edit-post-visual-editor .wp-block-button__link.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.edit-post-visual-editor .wp-block-button__link.disabled, .edit-post-visual-editor .wp-block-button__link:disabled {
  opacity: 0.65;
}
.edit-post-visual-editor .wp-block-button__link:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.edit-post-visual-editor .wp-block-button__link.has-primary-background-color {
  color: #fff;
}
.edit-post-visual-editor .wp-block-button__link.has-primary-background-color:hover {
  background: #950526;
  color: #fff;
}
.is-style-outline .edit-post-visual-editor .wp-block-button__link.has-white-color:hover {
  border-color: #000;
}
.is-style-outline .edit-post-visual-editor .wp-block-button__link.has-primary-color:hover {
  border-color: #000;
}
.edit-post-visual-editor .wp-block-cover:not([class*=text-color]) [class*=inner-container] {
  color: #000;
}
.edit-post-visual-editor .wp-block-cover.text-center [class*=inner-container] {
  text-align: center;
}
.edit-post-visual-editor .wp-block-cover.has-background-dim:not([class*=text-]):not(.has-white-background-color) [class*=inner-container] {
  color: #fff;
}
.edit-post-visual-editor .wp-block-cover.jg {
  min-height: 0;
  min-height: initial;
}
.edit-post-visual-editor .wp-block-cover.jg .wp-block-cover__inner-container {
  padding-left: 2rem;
  padding-right: 2rem;
}
.edit-post-visual-editor .wp-block-cover.has-background-dim:not(.has-background-gradient):before, .edit-post-visual-editor .wp-block-cover .wp-block-cover__gradient-background {
  opacity: 1;
}
.edit-post-visual-editor .wp-block-cover.has-background-dim:not([class*=background-color]) {
  background-color: transparent;
}
.edit-post-visual-editor .wp-block-cover .wp-block-cover__inner-container > :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.edit-post-visual-editor .wp-block-cover[class*=text-color] .wp-block-cover__inner-container {
  color: inherit;
}
.edit-post-visual-editor .alignleft {
  text-align: left;
  margin-top: 0;
}
.edit-post-visual-editor .aligncenter {
  clear: both;
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.edit-post-visual-editor .alignright {
  margin-top: 0;
  margin-bottom: var(--global--spacing-vertical);
}
.edit-post-visual-editor .alignwide {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: calc(-48vw + 50%);
  width: 96vw;
}
.edit-post-visual-editor .alignfull {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
}
.edit-post-visual-editor .alignfull, .edit-post-visual-editor [data-align=full], .edit-post-visual-editor .alignwide, .edit-post-visual-editor [data-align=wide] {
  clear: both;
}
.edit-post-visual-editor .alignfull [class*=inner-container], .edit-post-visual-editor [data-align=full] [class*=inner-container], .edit-post-visual-editor .alignwide [class*=inner-container], .edit-post-visual-editor [data-align=wide] [class*=inner-container] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
@media (min-width: 576px) {
  .edit-post-visual-editor .alignfull [class*=inner-container], .edit-post-visual-editor [data-align=full] [class*=inner-container], .edit-post-visual-editor .alignwide [class*=inner-container], .edit-post-visual-editor [data-align=wide] [class*=inner-container] {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .edit-post-visual-editor .alignfull [class*=inner-container], .edit-post-visual-editor [data-align=full] [class*=inner-container], .edit-post-visual-editor .alignwide [class*=inner-container], .edit-post-visual-editor [data-align=wide] [class*=inner-container] {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .edit-post-visual-editor .alignfull [class*=inner-container], .edit-post-visual-editor [data-align=full] [class*=inner-container], .edit-post-visual-editor .alignwide [class*=inner-container], .edit-post-visual-editor [data-align=wide] [class*=inner-container] {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .edit-post-visual-editor .alignfull [class*=inner-container], .edit-post-visual-editor [data-align=full] [class*=inner-container], .edit-post-visual-editor .alignwide [class*=inner-container], .edit-post-visual-editor [data-align=wide] [class*=inner-container] {
    max-width: 1140px;
  }
}
.edit-post-visual-editor .alignfull > img, .edit-post-visual-editor [data-align=full] > img, .edit-post-visual-editor .alignwide > img, .edit-post-visual-editor [data-align=wide] > img {
  width: 100%;
}
.edit-post-visual-editor .has-left-content {
  justify-content: flex-start;
}
.edit-post-visual-editor .has-right-content {
  justify-content: flex-end;
}
.edit-post-visual-editor .has-parallax {
  background-attachment: fixed;
}
.edit-post-visual-editor .desktop-only {
  display: none;
}
@media (max-width: 991.98px) {
  .edit-post-visual-editor .desktop-only {
    display: block;
  }
}
.edit-post-visual-editor .has-primary-background-color {
  background: #DB0032;
}
.edit-post-visual-editor .has-primary-text-color {
  color: #DB0032;
}
.edit-post-visual-editor .has-secondary-background-color {
  background: #950526;
}
.edit-post-visual-editor .has-secondary-text-color {
  color: #950526;
}
.edit-post-visual-editor .has-tertiary-background-color {
  background: #AFAFAF;
}
.edit-post-visual-editor .has-tertiary-text-color {
  color: #AFAFAF;
}
.edit-post-visual-editor .has-quaternary-background-color {
  background: #F0F0F0;
}
.edit-post-visual-editor .has-quaternary-text-color {
  color: #F0F0F0;
}
.edit-post-visual-editor .has-white-background-color {
  background: #fff;
}
.edit-post-visual-editor .has-white-text-color {
  color: #fff;
}
.edit-post-visual-editor .has-black-background-color {
  background: #000;
}
.edit-post-visual-editor .has-black-text-color {
  color: #000;
}
.edit-post-visual-editor .wp-block-columns {
  align-items: center;
}
.edit-post-visual-editor .wp-block-columns .wp-block-column > :last-child {
  margin-bottom: 0;
}
.edit-post-visual-editor .welcome .wp-block-eedee-block-gutenslider, .edit-post-visual-editor .welcome .eedee-background-div {
  max-height: 100px;
}
.edit-post-visual-editor .welcome .eedee-background-div img {
  margin: 0 auto;
  max-height: 100%;
  width: auto;
}
.edit-post-visual-editor img {
  height: auto;
}
.edit-post-visual-editor ul.social-media {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.edit-post-visual-editor .nf-form-cont .nf-form-fields-required {
  font-size: 14px;
}
.edit-post-visual-editor h1, .edit-post-visual-editor .display-1, .edit-post-visual-editor h2, .edit-post-visual-editor .display-2, .edit-post-visual-editor h3, .edit-post-visual-editor .display-3, .edit-post-visual-editor h4, .edit-post-visual-editor .display-4 {
  text-transform: uppercase;
}
.edit-post-visual-editor h1, .edit-post-visual-editor .display-1, .edit-post-visual-editor h2, .edit-post-visual-editor .display-2 {
  font-weight: 800;
}
.edit-post-visual-editor h3, .edit-post-visual-editor .display-3 {
  font-weight: 500;
}
.edit-post-visual-editor h4, .edit-post-visual-editor .display-4 {
  font-weight: 300;
}
.edit-post-visual-editor [class*=inner-container] {
  max-width: 580px !important;
}
.edit-post-visual-editor .alignfull, .edit-post-visual-editor .alignwide {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
